.nav-up-color ,.footer-bg-color{
    background-color: #8CC63F;
}
.service-box {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    height: 140px;
    width: 220px;
    max-width: 100%;
    background: #FFF;
    border-radius: 7px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.slider-style{
    margin-top: 56px;
}
.about-p-style{
    text-align: justify;
}
.ul-style li a{
    text-decoration: none;
}
/* main  */
.m-h3-style ,.m-h1-style{
    color: #7030A0;
    /* font-weight: bolder */
    border-bottom:2px solid green ;
   

}

/* footer  */
.f-h4-style{
    color: #7030A0;
    font-weight: bolder;
    /* border-bottom:2px solid green ; */
}

.f-ul-style li a{
    text-decoration: none;
    color: #FFF;
}